{% extends "_base.html" %}

{% block title %}Summary{% endblock title %}

{% block content %}
    <h2>Summary:</h2>
    <h3>Python developer with 4 years of experience on creating Web-Applications. Main technology stack built on Python.
        Prefer Clean Architecture and SOLID principles. I have exceptional critical thinking, troubleshooting methods,
        I’m able to cope with several tasks at the same time. Purposeful, proactive, punctual, responsible, attentive to
        details. I am able to correctly assess the situation and solve the issues that arise very quickly. Interested in
        devising a better problem-solving method for challenging tasks, and learning new technologies. Trained 20+
        trainees, conducted 70+ technical interviews.</h3>
{% endblock content %}
